.DS_Store
/gui/__pycache__
/__pycache__
ai/__pycache__/__init__.cpython-312.pyc
ai/__pycache__/resume_review.cpython-312.pyc
ai/__pycache__/__init__.cpython-313.pyc
ai/__pycache__/resume_review.cpython-313.pyc
